mat-form-field {
    width: 300px;
  }
  
  section {
    padding: 30px;
  }
  
  #LoginForm{
    width: 100%;
  }

  a{
    color: #FF6E40;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bolder;
  }