  #buttonDiv{
    width: 150px;
    background-color:#FEBC49;
    color:white;
    font-weight: bold;
  }
  #buttonDiv:hover{
     background-color:#BB73EA;
  }
  th.mat-sort-header-sorted {
    color: black;
  }

  table{
      width: 100%;
  }

  .mat-form-field {
    font-size: 14px;
    width: 300px;
  }
  
  td, th {
    width: 25%;
  }  

  .addTaskBtn {
    margin-left: 10px;
  }