<mat-nav-list fxShow>
  <a *ngIf="!isAuth" [routerLinkActive]="['link-active']" mat-list-item routerLink="/user/login" (click)="close()">
    <mat-icon>android</mat-icon>
    <span>Login</span>
  </a>
  <a *ngIf="!isAuth" [routerLinkActive]="['link-active']" mat-list-item routerLink="/user/signup" (click)="close()">
    <mat-icon>fingerprint</mat-icon>
    <span>Signup</span>
  </a>
  <a *ngIf="isAuth" [routerLinkActive]="['link-active']" mat-list-item routerLink="/user/profile" (click)="close()">
    <mat-icon>account_circle</mat-icon>
    <span>My Profile</span>
  </a>
  <a *ngIf="isAuth" [routerLinkActive]="['link-active']" mat-list-item routerLink="/tracker/dailytasks"
    (click)="close()">
    <mat-icon>calendar_today</mat-icon>
    <span>Daily Tasks</span>
  </a>
  <a *ngIf="isAuth" mat-list-item (click)="onLogout()">
    <mat-icon>eject</mat-icon>
    <span>Logout</span>
  </a>
</mat-nav-list>